<%= render "form", faculty_profile: @faculty_profile %>

<br>

<div class="max-w-md mx-auto p-8 shadow-md">
  <%= link_to "Show faculty profile", @faculty_profile, class: 'bg-purple-500 text-white p-2 rounded-md w-full' %> 
  <%= link_to "Back to dashboard", faculty_dashboard_path, class: 'bg-green-500 text-white p-2 rounded-md w-full' %>
</div>
