<p style="color: green"><%= notice %></p>

<%= render @faculty_profile %>

<div>

  <%# <%= button_to "Destroy this student profile", @student_profile, method: :delete, class: 'mx-auto bg-red-500 text-white p-2 rounded-md' %>
</div>
