<h1>Editing student registration</h1>

<%= render "form", student_registration: @student_registration %>

<br>

<div>
  <%= link_to "Show this student registration", @student_registration %> |
  <%= link_to "Back to student registrations", student_registrations_path %>
</div>
