<%= render "form", student_registration: @student_registration %>

<br>

<div>
    <%= link_to "Back to dashboard", student_dashboard_path, class: 'bg-green-500 text-white p-2 rounded-md w-full' %>
</div>
