<h1>Register for Course</h1>

<%= form_with(url: course_registrations_path(@course), method: :post) do |form| %>
  <% if @course.registrations.count >= @course.max_students %>
    <p>This course is already full. Unable to register.</p>
  <% else %>
    <%= form.submit 'Register for Course' %>
  <% end %>
<% end %>

<%= link_to 'Back to Dashboard', student_dashboard_path %>
