<p style="color: green"><%= notice %></p>

<h1>Student profiles</h1>

<div id="student_profiles">
  <% @student_profiles.each do |student_profile| %>
    <%= render student_profile %>
    <p>
      <%= link_to "Show this student profile", student_profile, class: 'bg-blue-500 text-white p-2 rounded-md w-full' %>
    </p>
  <% end %>
</div>

<%= link_to "New student profile", new_student_profile_path, class: 'bg-purple-500 text-white p-2 rounded-md w-full' %>
