<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Show this course", @course, class: 'bg-violet-500 text-white p-2 rounded-md' %> |
  <%= link_to "Back to courses", faculty_dashboard_path, class: 'bg-yellow-500 text-white p-2 rounded-md' %>
</div>
